# Proyecto del Día 8 - Análisis de Datos Meteorológicos

Este proyecto consiste en analizar un conjunto de datos meteorológicos utilizando Python y NumPy. 
El objetivo es aplicar las técnicas de manipulación de arrays, tratamiento de datos faltantes, 
y análisis estadístico básico en un conjunto de datos del mundo real.

## Tareas a Realizar:
1. Crear un DataFrame a partir de los datos del archivo **datos_meteorologicos.csv** provisto en esta lección.
2. Realizar observaciones iniciales de los datos con Pandas.
3. Convertir las columnas del DataFrame en arrays de NumPy.
4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.
5. Realizar análisis estadísticos básicos. Mínimamente se espera que puedas extraer la siguiente información de tus arrays:
    * La temperatura promedio
    * El total de precipitaciones
    * La máxima humedad registrada
    * La fecha más calurosa
    * La fehca más fría
6. Exportar los resultados a un nuevo archivo CSV.

¡Mucha suerte con tu proyecto!

### 1. Crear un DataFrame a partir de los datos del archivo datos_meteorologicos.csv provisto en esta lección.

In [96]:
import pandas as pd
import numpy as np

In [97]:
path_file = './src/datos_meteorologicos.csv'

In [98]:
df = pd.read_csv(path_file)
df.head()

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

### 2. Realizar observaciones iniciales de los datos con Pandas.

In [99]:
df.count()

Fecha            5110
Temperatura      4855
Precipitación    4855
Humedad          4855
dtype: int64

In [100]:
df.tail()

           Fecha  Temperatura  Precipitación    Humedad
5105  24/12/2023    -9.554692      12.700998  50.094533
5106  25/12/2023     2.837831       5.475686  92.456057
5107  26/12/2023    29.873597       4.615012  18.362847
5108  27/12/2023          NaN            NaN        NaN
5109  28/12/2023    37.308043       7.330510  50.646211

In [101]:
df.isna().sum()

Fecha              0
Temperatura      255
Precipitación    255
Humedad          255
dtype: int64

In [102]:
df.dtypes

Fecha             object
Temperatura      float64
Precipitación    float64
Humedad          float64
dtype: object

In [103]:
df.describe()

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5110 non-null   object
 1   Temperatura    4855 non-null   float64
 2   Precipitación  4855 non-null   float64
 3   Humedad        4855 non-null   float64
dtypes: float64(3), object(1)
memory usage: 159.8+ KB

In [105]:
df['Fecha'] = pd.to_datetime(df['Fecha'], format="%d/%m/%Y")

### 3. Convertir las columnas del DataFrame en arrays de NumPy.

In [110]:
date_field = df['Fecha'].values
temperature_field = df['Temperatura'].values
rainfall_field = df['Precipitación'].values
humidity_field = df['Humedad'].values

### 4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.

In [131]:
temperature_null = np.isnan(temperature_field)
rainfall_null = np.isnan(rainfall_field)
humidity_null = np.isnan(humidity_field)

In [132]:
# Promedio respectivo
temp_mean = np.nanmean(temperature_field)
rainfall_mean = np.nanmean(rainfall_field)
humidity_mean = np.nanmean(humidity_field)

In [133]:
# Reemplazamos nulos por el promedio de los valores
temperature_field[temperature_null] = temp_mean
rainfall_field[rainfall_null] = rainfall_mean 
humidity_field[humidity_null] = humidity_mean

### 5. Realizar análisis estadísticos básicos.

##### Temperatura promedio

In [137]:
temp_mean

14.889295723531713

##### Total de precipitaciones

In [138]:
rainfall_field.sum()

50597.19438939993

##### Máxima humedad registrada

In [139]:
humidity_field.max()

99.99658156071747

##### Fecha más calurosa

In [142]:
hottest = temperature_field.max()

In [143]:
max_hot = np.where(temperature_field == hottest)[0][0]
max_hot

2749

In [144]:
date_hottest = df.iloc[max_hot]['Fecha']

In [145]:
date_hottest

Timestamp('2017-07-12 00:00:00')

##### Fecha más fría

In [146]:
date_coldest = np.where(temperature_field == temperature_field.min())[0][0]
df.iloc[date_coldest]['Fecha']

Timestamp('2020-07-23 00:00:00')

### 6. Exportar los resultados a un nuevo archivo CSV.